body {
    background-color: #2781f8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    scrollbar-color: blue;
}
.mobile-menu {
    display: none;
    color: white;
    font-size: 40px;
}
#Menu {
    width: 190px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 40px #0059ff;
    transition: 0.5s ease;
}
#Menu ul {
    list-style-type: none;
}
#Menu ul li {
    margin-top: 10px;
}
#Menu ul a {
    text-decoration: none;
    color: #5ba1fc;
    font-weight: 600;
}
#Menu button {
    color: white;
    font-weight: 600;
    background-color: #3f81fa;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
}
#Menu button:hover {
    background-color: #3077fb;
    transform: scale(1.02);
}
#Menu button:active {
    transform: translateY(5px);
}
#Menu:hover {
    transform: scale(1.1);
}
header {
    display: flex;
    background-color: #fff;
    justify-content: space-around;
    border-radius: 5px;
    width: 98.3%;
    position: fixed;
    z-index: 999;
    padding: 5px;
    box-shadow: 0px 4px 40px rgb(107, 181, 251);
    transition: 0.5s ease;
}
header:hover {
    box-shadow: 0px 4px 40px rgb(156, 203, 246);
}
header .logo {
    font-size: 18px;
    display: flex;
    color: #2781f8;
    font-weight: 700;
    align-items: center;
    margin-left: 10px;
    margin-right: 50px;
    justify-content: space-between;
}
header .navigation {
    display: flex;
    justify-content: space-between;
}
.nav-list ul {
    cursor: pointer;
    gap: 5rem;
    display: flex;
    list-style-type: none;
}
.nav-list ul a {
    color: #5ba1fc;
    text-decoration: none;
    font-weight: 600;
    transition: 0.6s ease;
}
.nav-list ul a:hover {
    color: #0e75fb;
}
.main h1 {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    margin-top: 10px;
    color: white;
}
.main h1 span {
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    margin-left: 15px;
    font-weight: 900;
    color: rgb(191, 229, 251);
}
.main .game-img {
    margin-top: 15%;
    font-size: 70px;
}
.main-btn {
    cursor: pointer;
    padding: 6px;
    background-color: #0059ff;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #1b68f7;
    text-decoration: none;
    font-size: 15px;
    transition: 0.5s ease;
    margin: 10px;
}
.main-btn:hover {
    padding: 8px;
    transform: scale(1.05);
    background-color: #0256f3;
}
.about {
    background-color: #fff;
    padding: 5px;
}
.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #197cfd;
}
.about p {
    font-weight: 600;
    display: flex;
    text-align: center;
}
section {
    margin-top: 100px;
    width: 99.5%;
}
.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
.card {
    width: 90px;
    height: 190px;
    background-color: white;
    border-radius: 5px;
    padding: 10px 40px 10px 40px;
    transition: 0.5s ease;
    box-shadow: 0px 4px 90px rgb(1, 81, 220);
}
.card img {
    width: 90px;
    height: 120px;
    border-radius: 8px;
}
.card:hover {
    transform: translateY(-3px) scale(1.02);
    opacity: 90%;
    box-shadow: 0px 4px 15px rgb(0, 75, 205);
}
.games-btn {
    cursor: pointer;
    padding: 6px;
    background-color: #699cfb;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px #6195f6;
    text-decoration: none;
    font-size: 15px;
    transition: 0.5s ease;
    margin: 10px;
}
.games-btn:hover {
    padding: 8px;
    transform: scale(1.05);
    background-color: #5f95fb;
}
.icons img{
    width: 40px;
    height: 40px;
    transition: 0.5s ease;
}
.icons img:hover {
    opacity: 85%;
    transform: scale(1.1);
}
@media (max-width: 800px) {
    header{
        display: none;
    }
    .card {
        margin-top: 30px;
    }
    section {
        width: 98%;
    }
    .main h1 {
        font-size: 20px;
    }
    .main .game-img {
        font-size: 50px;
    }
    .mobile-menu {
        display: flex;
    }
}
.footer-title {
    text-align: center;
    font-weight: 700;
    color: #a8c6ff;
}
.footer-title strong {
    color: #bad1fb;
}